<img src="Images\Slide1.PNG" />

In [5]:
import pandas as pd

<img src="Images\Slide2.PNG" />

In [6]:
"Python Is the Best".lower()

'python is the best'

In [7]:
"Python Is the Best".upper()

'PYTHON IS THE BEST'

In [8]:
"python is the best".title()

'Python Is The Best'

<img src="Images\Slide3.PNG" />

<div dir="rtl">
# הערה: נקרא גם accessor

In [ ]:
?pd.Series.str

In [9]:
chicago = pd.read_csv("https://raw.githubusercontent.com/kita8/PythonCsvData/main/chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.dropna(inplace=True)
chicago.head(3)

                Name    Position Title   Department Employee Annual Salary
0    AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT              $90744.00
1  AARON,  JEFFERY M    POLICE OFFICER       POLICE              $84450.00
2     AARON,  KARINA    POLICE OFFICER       POLICE              $84450.00

In [10]:
chicago.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32062 entries, 0 to 32061
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    32062 non-null  object
 1   Position Title          32062 non-null  object
 2   Department              32062 non-null  category
 3   Employee Annual Salary  32062 non-null  object
dtypes: category(1), object(3)
memory usage: 1.0+ MB

In [11]:
chicago.describe()

                  Name  Position Title Department Employee Annual Salary
count            32062           32062      32062                  32062
unique           31776            1093         35                   1156
top     PEREZ,  JOSE A  POLICE OFFICER     POLICE              $87384.00
freq                 4            9184      12618                   2394

In [12]:
chicago["Department"].nunique()

35

In [13]:
chicago["Department"].count()

32062

## The `str.lower(), str.upper(), str.title(), str.len()` Methods

In [ ]:
"HEllo WOrld".lower()

In [ ]:
"Hello World".upper()

In [ ]:
"HEllo WOrld".title()

In [14]:
type(chicago['Position Title'])

pandas.core.series.Series

In [15]:
type(chicago['Position Title'].str)

pandas.core.strings.StringMethods

In [19]:
chicago['Position Title'].dtype

dtype('O')

In [ ]:
chicago["Position Title"].str.lower()

In [ ]:
chicago["Position Title"].str.title()

In [ ]:
chicago.head()

In [20]:
chicago["Position Title"] = chicago["Position Title"].str.title()

In [21]:
chicago.head()

                  Name  ... Employee Annual Salary
0      AARON,  ELVIA J  ...              $90744.00
1    AARON,  JEFFERY M  ...              $84450.00
2       AARON,  KARINA  ...              $84450.00
3  AARON,  KIMBERLEI R  ...              $89880.00
4  ABAD JR,  VICENTE M  ...             $106836.00

[5 rows x 4 columns]

In [22]:
chicago["Position Title"].str.len()

0        16
1        14
2        14
3        24
4        17
         ..
32057    30
32058    14
32059    14
32060    14
32061    23
Name: Position Title, Length: 32062, dtype: int64

## The `str.replace()` Method

In [23]:
chicago = pd.read_csv("https://raw.githubusercontent.com/kita8/PythonCsvData/main/chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.dropna(inplace=True)
chicago.head(3)

                Name    Position Title   Department Employee Annual Salary
0    AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT              $90744.00
1  AARON,  JEFFERY M    POLICE OFFICER       POLICE              $84450.00
2     AARON,  KARINA    POLICE OFFICER       POLICE              $84450.00

In [ ]:
# new_salary  = chicago['Employee Annual Salary'].copy()
new_salary = pd.Series(['s',"6","6"])
new_salary.replace('6', '999')

0      s
1    999
2    999
dtype: object

In [24]:
chicago["Employee Annual Salary"].str.replace("$","^^")

0         ^^90744.00
1         ^^84450.00
2         ^^84450.00
3         ^^89880.00
4        ^^106836.00
            ...
32057     ^^99528.00
32058     ^^87384.00
32059     ^^84450.00
32060     ^^87384.00
32061    ^^113664.00
Name: Employee Annual Salary, Length: 32062, dtype: object

In [25]:
chicago["Employee Annual Salary"].dtype

dtype('O')

In [26]:
chicago["Employee Annual Salary"].str.replace("$","").astype("float")

0         90744.0
1         84450.0
2         84450.0
3         89880.0
4        106836.0
           ...
32057     99528.0
32058     87384.0
32059     84450.0
32060     87384.0
32061    113664.0
Name: Employee Annual Salary, Length: 32062, dtype: float64

In [ ]:
chicago["Employee Annual Salary"] = chicago["Employee Annual Salary"].str.replace("$","").astype("float")

In [ ]:
chicago.head()

In [ ]:
chicago.describe()

## Filtering with String Methods `str.replace()`

In [29]:
chicago = pd.read_csv("https://raw.githubusercontent.com/kita8/PythonCsvData/main/chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.dropna(inplace=True)
chicago.head(3)

                Name    Position Title   Department Employee Annual Salary
0    AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT              $90744.00
1  AARON,  JEFFERY M    POLICE OFFICER       POLICE              $84450.00
2     AARON,  KARINA    POLICE OFFICER       POLICE              $84450.00

In [30]:
mask = chicago["Position Title"].str.lower().str.contains("water")

In [31]:
mask.head(10)

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Position Title, dtype: bool

In [ ]:
len(mask)

In [ ]:
len(chicago)

In [ ]:
type(chicago["Position Title"].str.lower())

In [ ]:
mask = chicago["Position Title"].str.lower().str.startswith("water")

In [ ]:
chicago[mask]

In [ ]:
mask = chicago["Position Title"].str.lower().str.endswith("ist")

In [ ]:
chicago[mask]

## The `str.strip()` , `str.lstrip()` , `str.rstrip()` Methods

In [ ]:
chicago = pd.read_csv("chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.head(3)

In [ ]:
? str.rstrip()

In [ ]:
"        HI!".lstrip()

In [ ]:
"HI!    ".rstrip()

In [ ]:
"        HI!       ".strip()

In [ ]:
chicago['Name'] = chicago['Name'] + "               "

In [ ]:
chicago.head()

In [ ]:
chicago["Name"].str.len().head(15)

In [ ]:
chicago["Name"].str.lstrip().str.len().head(15)

In [ ]:
chicago["Name"].str.rstrip().str.len().head(15)

In [ ]:
chicago["Name"].str.strip().str.len().head(15)

In [ ]:
chicago["Name"].str.strip().head()

## String Methods on Index and Columns

In [ ]:
chicago = pd.read_csv("chicago.csv", index_col="Name")
chicago["Department"] = chicago["Department"].astype("category")
chicago.head(3)

In [ ]:
chicago.index.str.strip().str.title()

In [ ]:
chicago.index = chicago.index.str.strip().str.title()

In [ ]:
chicago.head()

In [ ]:
chicago.columns = chicago.columns.str.upper()

In [ ]:
chicago.head()

## The `str.split()`, `str.get()`  Methods

In [32]:
chicago = pd.read_csv("https://raw.githubusercontent.com/kita8/PythonCsvData/main/chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.head(3)

                Name    Position Title   Department Employee Annual Salary
0    AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT              $90744.00
1  AARON,  JEFFERY M    POLICE OFFICER       POLICE              $84450.00
2     AARON,  KARINA    POLICE OFFICER       POLICE              $84450.00

In [33]:
"Hello, My Name is nit and Teach Pandas".split()

['Hello,', 'My', 'Name', 'is', 'nit', 'and', 'Teach', 'Pandas']

In [34]:
chicago["Name"].str.split(",")

0            [AARON,   ELVIA J]
1          [AARON,   JEFFERY M]
2             [AARON,   KARINA]
3        [AARON,   KIMBERLEI R]
4        [ABAD JR,   VICENTE M]
                  ...
32058     [ZYGOWICZ,   PETER J]
32059      [ZYMANTAS,   MARK E]
32060    [ZYRKOWSKI,   CARLO E]
32061    [ZYSKOWSKI,   DARIUSZ]
32062                       NaN
Name: Name, Length: 32063, dtype: object

In [35]:
chicago["Name"].str.split(",")[0]

['AARON', '  ELVIA J']

In [36]:
chicago["Name"].str.split(",")[0][0]

'AARON'

In [37]:
chicago["Name"].str.split(",").get(0)

['AARON', '  ELVIA J']

In [38]:
chicago["Name"].str.split(",").str.get(0)

0            AARON
1            AARON
2            AARON
3            AARON
4          ABAD JR
           ...
32058     ZYGOWICZ
32059     ZYMANTAS
32060    ZYRKOWSKI
32061    ZYSKOWSKI
32062          NaN
Name: Name, Length: 32063, dtype: object

In [39]:
?pd.Series.get()

In [40]:
?pd.Series.str.get()

In [42]:
chicago.insert(0,"Last Name",value=chicago["Name"].str.split(",").str.get(1))

In [43]:
chicago.add()

TypeError: ignored

In [ ]:
chicago.insert(0,"First Name",value=chicago["Name"].str.split(",").str.get(0))

In [ ]:
chicago.drop(columns='Name',inplace=True)

In [ ]:
chicago.head()

In [ ]:
chicago = pd.read_csv("chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.head(3)

In [ ]:
chicago["Name"].str.split(",").str.get(1).str.split().str.get(1)

In [ ]:
chicago["Name"].str.split(",").str.get(0).value_counts().head(5)

In [ ]:
chicago = pd.read_csv("chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.head(3)

In [ ]:
chicago["Name"].str.split(",", expand = True)

In [ ]:
chicago[["First Name","Last Name"]] = chicago["Name"].str.split(",", expand = True)

In [ ]:
chicago.head()

In [ ]:
chicago["Position Title"].str.split(expand = True).head(10)

In [ ]:
chicago["Position Title"].str.split(n=1,expand = True).head(10)

In [ ]:
?pd.Series.str.count

In [ ]:
chicago["Position Title"].str.count("A").head(10)

In [ ]:
chicago["Position Title"].str.count("ENGINEER").head(10)

In [ ]:
chicago.insert(0,"Last Name",value=chicago["Name"].str.split(",").str.get(1))

In [ ]:
chicago.add(["s"], axis='index')

In [ ]:
chicago.tail()

In [ ]:
chicago = chicago.append({"Last Name":"Ben Izhak", "Name":"Amir", "Position Title":"DX", "Department":"Team Y", "Employee Annual Salary":"$-2"}, ignore_index=True)

In [ ]:
chicago.append(["Ben Izhak","Amir", "DX","Team Y","$-2"], ignore_index=True)