<img src="Images\Slide1.PNG" />

In [1]:
import pandas as pd
import numpy as np

<img src="Images\Slide2.PNG" />

In [3]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

<img src="Images\Slide3.PNG" />

## The `.set_index()` and `.reset_index()` Methods

In [4]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [5]:
bond.set_index("Film", inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [6]:
#bond.reset_index(drop = True)

In [7]:
bond.reset_index(drop = False, inplace = True)
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [8]:
bond.set_index("Film", inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [9]:
bond.reset_index(inplace = True)
bond.set_index("Year", inplace = True)
bond.head(3)

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2

## Retrieve Rows by Index Label with `.loc[]`

In [28]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [29]:
bond.loc["Goldfinger"]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [30]:
type(bond.loc["Goldfinger"])

pandas.core.series.Series

In [31]:
bond.loc["GoldenEye",'Director']

'Martin Campbell'

In [32]:
bond.loc["GoldenEye"]['Director']

'Martin Campbell'

In [33]:
#bond.loc["Sacred Bond"]

In [34]:
bond.loc["Casino Royale"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [35]:
type(bond.loc["Casino Royale"])

pandas.core.frame.DataFrame

In [36]:
bond.loc["Diamonds Are Forever" : "Moonraker"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

In [37]:
bond.loc[: "On Her Majesty's Secret Service"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [38]:
bond.loc[["Octopussy", "Moonraker","Never Say Never Again"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [39]:
bond.loc[["For Your Eyes Only", "Live and Let Die", "Gold Bond"]]

C:\Users\T15000342\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
For Your Eyes Only,1981.0,Roger Moore,John Glen,449.4,60.2,NaN
Live and Let Die,1973.0,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Gold Bond,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
"Gold Bond" in bond.index

False

# MultiIndex - set more than one columns as the index

In [42]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [45]:
bond = bond_multi.set_index(['Actor','Director'])
bond.head(3)

,,Film,Year,Box Office,Budget,Bond Actor Salary
Actor,Director,,,,,
Roger Moore,John Glen,A View to a Kill,1985,275.2,54.5,9.1
Daniel Craig,Martin Campbell,Casino Royale,2006,581.5,145.3,3.3
David Niven,Ken Hughes,Casino Royale,1967,315.0,85.0,NaN

In [46]:
bond.index

MultiIndex(levels=[['Daniel Craig', 'David Niven', 'George Lazenby', 'Pierce Brosnan', 'Roger Moore', 'Sean Connery', 'Timothy Dalton'], ['Guy Hamilton', 'Irvin Kershner', 'John Glen', 'Ken Hughes', 'Lee Tamahori', 'Lewis Gilbert', 'Marc Forster', 'Martin Campbell', 'Michael Apted', 'Peter R. Hunt', 'Roger Spottiswoode', 'Sam Mendes', 'Terence Young']],
           labels=[[4, 0, 1, 5, 3, 5, 4, 5, 3, 5, 6, 4, 4, 5, 4, 2, 0, 0, 0, 6, 4, 4, 3, 5, 3, 5], [2, 7, 3, 0, 4, 12, 2, 12, 7, 0, 2, 0, 5, 1, 2, 9, 6, 11, 11, 2, 0, 5, 8, 12, 10, 5]],
           names=['Actor', 'Director'])

In [55]:
bond.index.levels[0]

Index(['Daniel Craig', 'David Niven', 'George Lazenby', 'Pierce Brosnan',
       'Roger Moore', 'Sean Connery', 'Timothy Dalton'],
      dtype='object', name='Actor')

In [56]:
bond.reset_index().head(3)

,Actor,Director,Film,Year,Box Office,Budget,Bond Actor Salary
0,Roger Moore,John Glen,A View to a Kill,1985,275.2,54.5,9.1
1,Daniel Craig,Martin Campbell,Casino Royale,2006,581.5,145.3,3.3
2,David Niven,Ken Hughes,Casino Royale,1967,315.0,85.0,NaN

## Retrieve Row(s) by Index Position with `iloc`

In [ ]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

In [ ]:
bond.loc[15]

In [ ]:
bond.iloc[15]

In [ ]:
bond.iloc[[15, 20]]

In [ ]:
bond.iloc[:4]

In [ ]:
bond.iloc[4:8]

In [ ]:
bond.iloc[20:]

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.iloc[[5, 10, 15, 20]]

## Set New Values for a Specific Cell or Row

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.loc["Dr. No"]

In [ ]:
bond.loc["Dr. No"] = "Sir Sean Connery"

In [ ]:
bond.loc["Dr. No"]

In [ ]:
bond.loc["Dr. No"]["Year"] = 2000

In [ ]:
bond.loc["Dr. No"]

In [ ]:
bond.loc["Dr. No"]["Year",
                   "Director",
                   "Box Office",
                   "Budget",
                   "Bond Actor Salary"] = [1962,
                                           'Terence Young',
                                           448800000,
                                           7000000,
                                           600000]

In [ ]:
bond.loc["Dr. No"]

## Set Multiple Values in `DataFrame`

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
mask = bond["Actor"] == "Sean Connery"

In [ ]:
bond.loc[mask,"Actor"]

In [ ]:
bond.loc[mask,"Actor"] = "Sir Sean Connery"

In [ ]:
bond.loc[mask]

In [ ]:
bond["Actor"] == "Roger Moore"

In [ ]:
bond[bond["Actor"] == "Roger Moore"]

In [ ]:
bond.loc[bond["Actor"] == "Roger Moore"]

## Rename Index Labels or Columns in a `DataFrame`

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.rename(columns = {"Year" : "Release Date", "Box Office" : "Revenue"}, inplace = True)

In [ ]:
bond.head(1)

In [ ]:
bond.rename(index = {"Dr. No" : "Doctor No", 
                     "GoldenEye" : "Golden Eye",
                    "The World Is Not Enough" : "Best Bond Movie Ever"}, inplace = True)

In [ ]:
bond.head()

In [ ]:
bond.loc["Best Bond Movie Ever"]

In [ ]:
bond.head(1)

In [ ]:
bond.columns = ["Year of Release", "Actor", "Director", "Gross", "Cost", "Salary"]

In [ ]:
bond.head(3)

## Delete Rows or Columns from a `DataFrame`

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.drop(labels = ["Box Office", "Bond Actor Salary", "Actor"], axis = "columns", inplace = True)

In [ ]:
bond.head()

In [ ]:
bond.drop("Casino Royale", inplace = True)

In [ ]:
bond.head()

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)

In [ ]:
actor = bond.pop("Actor")

In [ ]:
type(actor)

In [ ]:
del bond["Director"]

In [ ]:
del bond["Year"]