In [ ]:
import pandas as pd
import numpy as np

<div dir = "rtl">
    
### קראו את הקובץ 'titanic_data.csc' לתוך משתנה  titanic.
###  הגדירו את העמודה 'id' להיות האינדקס

In [ ]:
titanic = pd.read_csv("titanic_data.csv")
titanic = titanic.set_index("id")
titanic.head()

<div dir = "rtl">
    
### שנו את עמודת 'name' להיות באותיות גדולות ומסוג category:

In [ ]:
titanic["sex"] = titanic["sex"].str.upper().astype("category")
titanic.head()

<div dir = "rtl">
    
### עבור נוסעים שגילם גדול מ 40, מצאו את אורך שמם הממוצע:

In [ ]:
titanic[titanic["age"] >40]["name"].str.len().mean()

<div dir = "rtl">
    
### הוסיפו שדה שנקרא is_special  שערכו יהיה True אם לאדם יש מעל ילד אחד, מעל 2 אחים וגם המשקל שלו מעל 60.

In [ ]:
def is_special(row):
    if row["num_children"] > 1 and row["num_brothers"] > 2 and row["weight"] > 60:
        return True
    return False
titanic["is_special"] = titanic.apply(is_special, axis =1)
titanic.head()

<div dir = "rtl">
    
### הציגו רק את הערכים שערך עמודת is_special הוא True וגם עמודת card_id הוא שדה מספרי.

In [ ]:
titanic[(titanic["is_special"] == False) & (titanic["card_id"].str.isnumeric()) ]

<div dir = "rtl">
    
### הציגו רק את הערכים שערך עמודת is_special הוא True וגם עמודת card_id הוא לא שדה מספרי.

In [ ]:
titanic[(titanic["is_special"] == False) & (~titanic["card_id"].str.isnumeric()) ]

<div dir = "rtl">
    
### שנו את עמודת name כך שהיא שימחקו הביטויים Mr.  או Mrs.  או Miss.

In [ ]:
titanic["name"] = titanic["name"].str.replace("Mr.", "")
titanic["name"] = titanic["name"].str.replace("Mrs.", "")
titanic["name"] = titanic["name"].str.replace("Miss.", "")
titanic["name"].head()

<div dir = "rtl">
    
###  ספרו את כמות הפעמים שהאות 'r' מופיעה:

In [ ]:
titanic["name"].str.count("r").sum()

<div dir = "rtl">
    
###  כמה אנשים יש שאורך השם שלהם גדול מפי 1.5 מהממוצע?

In [ ]:
avg_letters = titanic["name"].str.len().mean() * 1.5
len(titanic[titanic["name"].str.len() > avg_letters])

<div dir = "rtl">
    
###  כמה אנשים יש שהשם שלהם מסתיים באות r?

In [ ]:
len(titanic[titanic["name"].str.endswith("r")])

<div dir = "rtl">
    
###  כמה אנשים יש שהשם שלהם מתחיל באות m/M?

In [ ]:
len(titanic[titanic["name"].str.lower().str.startswith("m")])

<div dir = "rtl">
    
### בונוס : הוסיפו שדה שנקרא word_counter שסופר כמות מילים בעמודת 'name'.

In [ ]:
titanic["word_counter"] = titanic["name"].str.split().apply(lambda x:len(x))
titanic.head()