<img src='Images/Slide1.PNG' width ='800' />

In [ ]:
import pandas as pd
import numpy as np

<img src='Images/Slide2.PNG' width ='800' />

<img src='Images/Slide3.PNG' width ='800' />

<img src='Images/Slide4.PNG' width ='800' />

<img src='Images/Slide5.PNG' width ='800' />

In [ ]:
nba = pd.read_csv("nba.csv")

In [ ]:
nba

<img src='Images/Slide6.PNG' width ='800' />

In [ ]:
nba.head()

In [ ]:
nba.head(3)

In [ ]:
nba.tail()

In [ ]:
nba.index

In [ ]:
nba.columns

In [ ]:
nba.values

In [ ]:
nba.values[0]

In [ ]:
nba.values[0][0]

In [ ]:
nba.shape

In [ ]:
nba.dtypes

In [ ]:
nba.head()

In [ ]:
nba.columns

In [ ]:
nba.axes[0] # [1]

In [ ]:
list(nba.axes[0])

In [ ]:
nba.info()

In [ ]:
nba.get_dtype_counts()

<img src='Images/Slide7.PNG' width ='800' />

## Select One Column from a `DataFrame`

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba['Name'].head(10)

In [ ]:
type(nba['Name'])

## Select Two or More Columns from A `DataFrame`

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba[["Team", "Name"]].head(3)

In [ ]:
nba[["Salary", "Team", "Name"]].tail()

In [ ]:
select = ["Salary", "Team", "Name"]
nba[select]

## Add New Column to `DataFrame`

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba["Sport"] = "Basketball"
nba.head(3)

In [ ]:
nba["League"] = "National Basketball Association"
nba.head(3)

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.insert(loc=3, column = "Sport", value = "Basketball")
nba.head(4)

In [ ]:
nba.insert(7,"League","National Basketball Association")
nba.head()

## Delete Column From `DataFrame`

In [ ]:
del nba["Sport"]

## Broadcasting Operations

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba['Age'].head()

In [ ]:
nba["Age"].add(5).head()

In [ ]:
(nba["Age"] + 5).head()

In [ ]:
nba["Salary"].sub(5000000).head()

In [ ]:
(nba["Salary"] - 5000000).head()

In [ ]:
nba["Weight"].head()

In [ ]:
nba["Weight"].mul(0.453592).head()

In [ ]:
nba["Weight in Kilograms"] = nba["Weight"] * 0.453592

In [ ]:
nba.head(3)

In [ ]:
nba['Salary'].head()

In [ ]:
nba["Salary"].div(1000000).head()

In [ ]:
nba["Salary in Millions"] = nba["Salary"] / 1000000

In [ ]:
nba.head(3)

## A Review of the `.value_counts()` Method

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba["Team"].value_counts()

In [ ]:
nba["Position"].value_counts().head(3)

In [ ]:
nba["Weight"].value_counts().tail()

In [ ]:
nba["Age"].value_counts().sort_index()

In [ ]:
nba["Age"].value_counts().sort_values()

## Drop Rows with Null Values

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.tail(3)

In [ ]:
nba.dropna(how = "all", inplace = True)

In [ ]:
nba.tail(3)

In [ ]:
nba.head(12)

In [ ]:
nba.dropna(subset = ["Salary", "College"], how='any').head(12)

## Fill in Null Values with the `.fillna()` Method

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.fillna(0)

In [ ]:
nba["Salary"].fillna(0, inplace = True)

In [ ]:
nba.head()

In [ ]:
nba["College"].fillna("No College", inplace = True)

In [ ]:
nba.head(10)

## The `.astype()` Method

In [ ]:
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"].fillna(0, inplace = True)
nba["College"].fillna("None", inplace = True)
nba.head(6)

In [ ]:
nba.dtypes

In [ ]:
nba.info()

In [ ]:
nba["Salary"] = nba["Salary"].astype("int")

In [ ]:
nba.dtypes

In [ ]:
nba.head(3)

In [ ]:
nba["Number"] = nba["Number"].astype("int")
nba["Age"] = nba["Age"].astype("int")
nba.head(3)

In [ ]:
nba["Age"].astype("float")

In [ ]:
nba["Position"] = nba["Position"].astype("category")

In [ ]:
nba["Team"] = nba["Team"].astype("category")

In [ ]:
nba.head()

In [ ]:
nba.info()

## The `.nunique()` Method

In [ ]:
nba.nunique()

In [ ]:
nba["Position"].nunique()

In [ ]:
nba[["Position","Team"]].nunique()

## Sort a `DataFrame` with the `.sort_values()` Method, Part I

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.sample(n=30).sort_values("Name", ascending = False)

In [ ]:
nba.sort_values("Age", ascending = False)

In [ ]:
nba.sort_values("Salary", ascending = False, inplace = True)
nba.head(3)

In [ ]:
nba.sort_values("Salary", ascending = False, na_position = "first").head()

## Sort a `DataFrame` with the `.sort_values()` Method, Part II

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.sort_values(["Team", "Name"], ascending = [False, True], inplace = True)
nba.head(10)

## Sort `DataFrame` with the `.sort_index()` Method

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
nba.sort_values(["Number", "Salary", "Name"], inplace = True)
nba.tail(3)

In [ ]:
nba.sort_index(ascending = False, inplace = True)

In [ ]:
nba.head(8)

<img src='Images/Slide8.PNG' width ='800' />

## Rank Values with the `.rank()` Method

In [ ]:
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"] = nba["Salary"].fillna(0).astype("int")
nba.head(10)

In [ ]:
nba["Salary"].rank(ascending = False).astype("int")

In [ ]:
nba["Salary Rank"] = nba["Salary"].rank(ascending = False).astype("int")
nba.head()

In [ ]:
nba.sort_values(by = "Salary", ascending = False)

## The `.nsmallest()` and `.nlargest()` Methods

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.sort_values("Box Office", ascending = False).head(3)

In [ ]:
bond.nlargest(3, columns = "Box Office")

In [ ]:
bond.sort_values("Box Office", ascending = True).head(3)

In [ ]:
bond.nsmallest(n = 2, columns = "Box Office")

In [ ]:
bond.nlargest(3, columns = "Budget")

In [ ]:
bond.nsmallest(n = 6, columns = "Bond Actor Salary")

In [ ]:
bond["Box Office"].sort_values()

In [ ]:
bond["Box Office"].nlargest(8)

In [ ]:
bond["Year"].nsmallest(2)