<div dir="rtl">

# הדגמת עבודה עם API

<div dir="rtl">

## 1. נייבא את הספריות הרלוונטיות.

In [5]:
import requests
import json
import pandas as pd

<div dir="rtl">

## 2. נבנה מילון המכיל שליפה פשוטה בפורמט התואם ל-API - שימו לב לתיעוד!

In [6]:
query = {
    'query' : {
        "account_id": 794875
    }
}

<div dir="rtl">

## 3. נמיר את המילון לפורמט JSON ונשמור אותו כ-PAYLOAD. בנוסף נגדיר HEADER המכיל נתוני אותנטיקציה רלוונטיים.

In [7]:
payload = json.dumps(query)
my_header = {'token' : 'super_secret_token'}

<div dir="rtl">

## 4. נשלח בקשת POST המכילה את ה-URL של ה-API, את ה-PAYLOAD ואת ה-HEADER.

In [11]:
response = requests.post('https://mongo-rest-week8.herokuapp.com/stocks', data=payload, headers=my_header)
response

<div dir="rtl">

## 5. קוד התגובה הוא 200, כלומר שהתשובה חזרה באופן תקין! כדי לראות את תוכן התגובה נשתמש בתכונה ```response.text```.

In [16]:
print(response.text)

{"documents":[{"account_id":794875,"transaction_count":6,"bucket_start_date":"1991-12-27T00:00:00","bucket_end_date":"2016-09-06T00:00:00","transactions":[{"date":"2011-12-28T00:00:00","amount":1197,"transaction_code":"buy","symbol":"nvda","price":"12.7330024299341033611199236474931240081787109375","total":"15241.40390863112172326054861"},{"date":"2016-06-13T00:00:00","amount":8797,"transaction_code":"buy","symbol":"nvda","price":"46.53873172406391489630550495348870754241943359375","total":"409401.2229765902593427995271"},{"date":"2016-08-31T00:00:00","amount":6146,"transaction_code":"sell","symbol":"ebay","price":"32.11600884852845894101847079582512378692626953125","total":"197384.9903830559086514995215"},{"date":"2004-11-22T00:00:00","amount":253,"transaction_code":"buy","symbol":"amzn","price":"37.77441226157566944721111212857067584991455078125","total":"9556.926302178644370144411369"},{"date":"2002-05-23T00:00:00","amount":4521,"transaction_code":"buy","symbol":"nvda","price":"10.763069758141103449133879621513187885284423828125","total":"48659.83837655592869353426977"},{"date":"1999-09-01T00:00:00","amount":955,"transaction_code":"buy","symbol":"csco","price":"27.992136535152877030441231909207999706268310546875","total":"26732.49039107099756407137647"}]}]}

<div dir="rtl">

## 6. זכרו - הפורמט של בקשות ותשובות HTTP הוא לרוב JSON שהוא למעשה מטיפוס מחרוזת.

In [17]:
type(response.text)

str

<div dir="rtl">

## 7. עתה נבצע המרה ל-JSON חזרה למילון כדי שנוכל לבחון ולהשתמש בו בצורה נוחה יותר.

In [31]:
res_dict = json.loads(response.text)
res_dict

{'documents': [{'account_id': 794875,
   'transaction_count': 6,
   'bucket_start_date': '1991-12-27T00:00:00',
   'bucket_end_date': '2016-09-06T00:00:00',
   'transactions': [{'date': '2011-12-28T00:00:00',
     'amount': 1197,
     'transaction_code': 'buy',
     'symbol': 'nvda',
     'price': '12.7330024299341033611199236474931240081787109375',
     'total': '15241.40390863112172326054861'},
    {'date': '2016-06-13T00:00:00',
     'amount': 8797,
     'transaction_code': 'buy',
     'symbol': 'nvda',
     'price': '46.53873172406391489630550495348870754241943359375',
     'total': '409401.2229765902593427995271'},
    {'date': '2016-08-31T00:00:00',
     'amount': 6146,
     'transaction_code': 'sell',
     'symbol': 'ebay',
     'price': '32.11600884852845894101847079582512378692626953125',
     'total': '197384.9903830559086514995215'},
    {'date': '2004-11-22T00:00:00',
     'amount': 253,
     'transaction_code': 'buy',
     'symbol': 'amzn',
     'price': '37.77441226157566944721111212857067584991455078125',
     'total': '9556.926302178644370144411369'},
    {'date': '2002-05-23T00:00:00',
     'amount': 4521,
     'transaction_code': 'buy',
     'symbol': 'nvda',
     'price': '10.763069758141103449133879621513187885284423828125',
     'total': '48659.83837655592869353426977'},
    {'date': '1999-09-01T00:00:00',
     'amount': 955,
     'transaction_code': 'buy',
     'symbol': 'csco',
     'price': '27.992136535152877030441231909207999706268310546875',
     'total': '26732.49039107099756407137647'}]}]}

<div dir="rtl">

## 8. למעשה קיבלנו מילון שהמפתח שלו הוא documents והערך שלו הוא רשימה של מילון בעצמו! שימו לב למבנה של המילון. מה יקרה אם ננסה להמיר אותו ל-DataFrame?

In [41]:
documents = res_dict['documents'][0]
documents

{'account_id': 794875,
 'transaction_count': 6,
 'bucket_start_date': '1991-12-27T00:00:00',
 'bucket_end_date': '2016-09-06T00:00:00',
 'transactions': [{'date': '2011-12-28T00:00:00',
   'amount': 1197,
   'transaction_code': 'buy',
   'symbol': 'nvda',
   'price': '12.7330024299341033611199236474931240081787109375',
   'total': '15241.40390863112172326054861'},
  {'date': '2016-06-13T00:00:00',
   'amount': 8797,
   'transaction_code': 'buy',
   'symbol': 'nvda',
   'price': '46.53873172406391489630550495348870754241943359375',
   'total': '409401.2229765902593427995271'},
  {'date': '2016-08-31T00:00:00',
   'amount': 6146,
   'transaction_code': 'sell',
   'symbol': 'ebay',
   'price': '32.11600884852845894101847079582512378692626953125',
   'total': '197384.9903830559086514995215'},
  {'date': '2004-11-22T00:00:00',
   'amount': 253,
   'transaction_code': 'buy',
   'symbol': 'amzn',
   'price': '37.77441226157566944721111212857067584991455078125',
   'total': '9556.926302178644370144411369'},
  {'date': '2002-05-23T00:00:00',
   'amount': 4521,
   'transaction_code': 'buy',
   'symbol': 'nvda',
   'price': '10.763069758141103449133879621513187885284423828125',
   'total': '48659.83837655592869353426977'},
  {'date': '1999-09-01T00:00:00',
   'amount': 955,
   'transaction_code': 'buy',
   'symbol': 'csco',
   'price': '27.992136535152877030441231909207999706268310546875',
   'total': '26732.49039107099756407137647'}]}

In [42]:
pd.DataFrame(documents)

,account_id,transaction_count,bucket_start_date,bucket_end_date,transactions
0,794875,6,1991-12-27T00:00:00,2016-09-06T00:00:00,"{'date': '2011-12-28T00:00:00', 'amount': 1197..."
1,794875,6,1991-12-27T00:00:00,2016-09-06T00:00:00,"{'date': '2016-06-13T00:00:00', 'amount': 8797..."
2,794875,6,1991-12-27T00:00:00,2016-09-06T00:00:00,"{'date': '2016-08-31T00:00:00', 'amount': 6146..."
3,794875,6,1991-12-27T00:00:00,2016-09-06T00:00:00,"{'date': '2004-11-22T00:00:00', 'amount': 253,..."
4,794875,6,1991-12-27T00:00:00,2016-09-06T00:00:00,"{'date': '2002-05-23T00:00:00', 'amount': 4521..."
5,794875,6,1991-12-27T00:00:00,2016-09-06T00:00:00,"{'date': '1999-09-01T00:00:00', 'amount': 955,..."

<div dir="rtl">

## 9. שימו לב שבתוך המילון קיים עוד מילון! למעשה - רשימה של מילונים ש-Pandas לא יודעת כיצד להמיר אותה לעמודה. מה שנוכל לעשות הוא להמיר את ה-transactions ל-DataFrame נפרד. שימו לב איך המילון נראה ואיך נראה לאחריו ה-DataFrame.

In [45]:
transactions = documents['transactions']
transactions

[{'date': '2011-12-28T00:00:00',
  'amount': 1197,
  'transaction_code': 'buy',
  'symbol': 'nvda',
  'price': '12.7330024299341033611199236474931240081787109375',
  'total': '15241.40390863112172326054861'},
 {'date': '2016-06-13T00:00:00',
  'amount': 8797,
  'transaction_code': 'buy',
  'symbol': 'nvda',
  'price': '46.53873172406391489630550495348870754241943359375',
  'total': '409401.2229765902593427995271'},
 {'date': '2016-08-31T00:00:00',
  'amount': 6146,
  'transaction_code': 'sell',
  'symbol': 'ebay',
  'price': '32.11600884852845894101847079582512378692626953125',
  'total': '197384.9903830559086514995215'},
 {'date': '2004-11-22T00:00:00',
  'amount': 253,
  'transaction_code': 'buy',
  'symbol': 'amzn',
  'price': '37.77441226157566944721111212857067584991455078125',
  'total': '9556.926302178644370144411369'},
 {'date': '2002-05-23T00:00:00',
  'amount': 4521,
  'transaction_code': 'buy',
  'symbol': 'nvda',
  'price': '10.763069758141103449133879621513187885284423828125',
  'total': '48659.83837655592869353426977'},
 {'date': '1999-09-01T00:00:00',
  'amount': 955,
  'transaction_code': 'buy',
  'symbol': 'csco',
  'price': '27.992136535152877030441231909207999706268310546875',
  'total': '26732.49039107099756407137647'}]

In [48]:
df = pd.DataFrame(transactions)
df.head()

,date,amount,transaction_code,symbol,price,total
0,2011-12-28T00:00:00,1197,buy,nvda,12.7330024299341033611199236474931240081787109375,15241.40390863112172326054861
1,2016-06-13T00:00:00,8797,buy,nvda,46.5387317240639148963055049534887075424194335...,409401.2229765902593427995271
2,2016-08-31T00:00:00,6146,sell,ebay,32.1160088485284589410184707958251237869262695...,197384.9903830559086514995215
3,2004-11-22T00:00:00,253,buy,amzn,37.7744122615756694472111121285706758499145507...,9556.926302178644370144411369
4,2002-05-23T00:00:00,4521,buy,nvda,10.7630697581411034491338796215131878852844238...,48659.83837655592869353426977

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              6 non-null      object
 1   amount            6 non-null      int64
 2   transaction_code  6 non-null      object
 3   symbol            6 non-null      object
 4   price             6 non-null      object
 5   total             6 non-null      object
dtypes: int64(1), object(5)
memory usage: 416.0+ bytes

<div dir="rtl">

## 10. עכשיו נוכל לנתח את המידע באמצעות כל מה שלמדנו על ספריית pandas! כעת נבצע המרה לטיפוסי הנתונים הנכונים ובזאת נסיים את ההדגמה.

In [56]:
df = df.astype({'price': 'float'
                , 'total': 'float'
                , 'amount': 'int'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              6 non-null      object
 1   amount            6 non-null      int32
 2   transaction_code  6 non-null      object
 3   symbol            6 non-null      object
 4   price             6 non-null      float64
 5   total             6 non-null      float64
dtypes: float64(2), int32(1), object(3)
memory usage: 392.0+ bytes