# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [83]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [84]:
url = r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

chipo['item_price'] = pd.to_numeric(chipo['item_price'].str.slice(1))

In [85]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Step 4. How many products cost more than $10.00?

In [92]:
price_mask = chipo['item_price'] > 10
chipo.loc[price_mask, 'item_name'].nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [87]:
menu = chipo[['item_name', 'item_price']].drop_duplicates().set_index('item_name')
menu

                                       item_price
item_name
Chips and Fresh Tomato Salsa                 2.39
Izze                                         3.39
Nantucket Nectar                             3.39
Chips and Tomatillo-Green Chili Salsa        2.39
Chicken Bowl                                16.98
...                                           ...
Chips and Guacamole                          8.50
Steak Soft Tacos                            18.50
Chips and Guacamole                         17.80
Chips                                        1.99
Barbacoa Bowl                               11.49

[209 rows x 1 columns]

### Step 6. Sort by the name of the item

In [88]:
menu.sort_values(by='item_name')

                   item_price
item_name
6 Pack Soft Drink       12.98
6 Pack Soft Drink        6.49
Barbacoa Bowl           11.49
Barbacoa Bowl            8.69
Barbacoa Bowl            9.25
...                       ...
Veggie Salad Bowl       11.25
Veggie Soft Tacos       16.98
Veggie Soft Tacos       11.25
Veggie Soft Tacos        8.75
Veggie Soft Tacos        8.49

[209 rows x 1 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [94]:
item_quantities = chipo.groupby('item_name').agg({'quantity':'sum'})
most_exp_prod = menu.sort_values(by='item_price', ascending=False).iloc[0].name

item_quantities.loc[most_exp_prod, 'quantity']

130

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [90]:
item_quantities.loc['Veggie Salad Bowl', 'quantity']

18

### Step 9. How many times did someone order more than one Canned Soda?

In [91]:
soda_mask = chipo['item_name'] == 'Canned Soda'
quantity_mask = chipo['quantity'] > 1
chipo.loc[soda_mask & quantity_mask, 'order_id'].nunique()

18