In [ ]:
import numpy as np
import pandas as pd

<div dir = "rtl">
### צרו מערך numpy של כל המספרים השלמים מ100 עד 199 והפכו אותו ל-Series אשר תקראו לו ser:

In [ ]:
ser = pd.Series(np.arange(100,200))
ser

<div dir = "rtl">
### הציגו את האינדקס:

In [ ]:
ser.index

<div dir = "rtl">
### הציגו את 5 הרשומות הראשונות:

In [ ]:
ser.head()

<div dir = "rtl">
### הציגו את סוג הנתונים ב-Series:

In [ ]:
ser.dtype

<div dir = "rtl">
### כמה ערכים קיימים ב-Series? בצעו בלי להשתמש ב-len().

In [ ]:
ser.shape[0]

<div dir = "rtl">
### הציגו את ממוצע הערכים:

In [ ]:
ser.mean()

<div dir = "rtl">
### הציגו את הערך המקסימלי:

In [ ]:
ser.max()

<div dir = "rtl">
### הציגו את המספרים הגדולים מ -50:

In [ ]:
ser[ser > 50]

<div dir = "rtl">
### הציגו את הערכים שנמצאים בין האינדקסים 50 עד 59:

In [ ]:
ser[50:60]

<div dir = "rtl">
### הציגו את חציון הערכים שנמצאים באינדקסים : 10, 20, 30, 40, 50, 60, 70,80, 90

In [ ]:
ser[list(range(10, 100,10))].median()

<div dir = "rtl">
### שנו את ה-Series כך שכל ערך מוכפל בעצמו.

In [ ]:
ser = ser * ser
ser

<div dir = "rtl">
### הציגו נתונים סטטיסטים על ה-series בעזרת describe.

In [ ]:
ser.describe()

<div dir = "rtl">
### רוצו בלולאה עבור הערכים שנמצאים ב-Series והדפיסו אותו רק אם הוא מתחלק ב-2, 3, ו-5:

In [ ]:
for item in ser :
    if item % 2==0 and item % 3 == 0 and item % 5 == 0:
        print(item)

# NBA

<div dir = "rtl">
### קראו את הקובץ 'nba.csv' והכניסו אותו לתוך Series בשם nba. השתמשו בפרמטר index_col והגדירו את העמודה Name להית האינדקס.

In [ ]:
nba = pd.read_csv("nba.csv",index_col = "Name", squeeze = True)

<div dir = "rtl">
### מי מקבל הכי הרבה שכר? ומי הכי פחות?
### מה הפרש השכר ביניהם?

In [ ]:
nba.idxmax()

In [ ]:
nba.idxmin()

In [ ]:
nba.max() - nba.min()

<div dir = "rtl">
### הציגו את כל האנשים שהשם שלהם מתחיל בין השמות Henry Sims ל -Norman Powell:

In [ ]:
len(nba["Henry Sims" : "Norman Powell"])

<div dir = "rtl">
### מיינו את ה-Series לפי הערכים בסדר יורד.

In [ ]:
nba = nba.sort_values(ascending = False)

<div dir = "rtl">
### הציגו את השחקנים שמקבלים בין 50000 ל 60000:

In [ ]:
nba[nba.between(50000, 60000)]

<div dir = "rtl">
### מהי המשכורת הכי נפוצה ?

In [ ]:
nba.value_counts()

<div dir = "rtl">
###  רוצו בלולאה עבור כל ערך באינדקס. אם אורך השם גדול מ-20 תווים הדפיסו את השכר של השחקן.

In [ ]:
for name in nba.index:
    if len(name) > 20:
        print(name, nba[name])

<div dir = "rtl">
###  רוצו בלולאה עבור כל ערך בשכר. אם השכר גדול מהממוצע של הערך הקודם ועוד הערך הבא, הדפיסו את שם השחקן:

In [ ]:
i = 1
for sal in nba.values[1:-1]:
    if sal > (nba[i+1] + nba[i-1])/2:
        print(nba.index[i])
    i +=1