# Visualizing the Titanic Disaster

Check out [Titanic Visualization Exercises Video Tutorial](https://youtu.be/CBT0buoF_Ns) to watch a data scientist go through the exercises

### Introduction:

This exercise is based on the titanic Disaster dataset avaiable at [Kaggle](https://www.kaggle.com/c/titanic).  
To know more about the variables check [here](https://www.kaggle.com/c/titanic/data)


### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv)

### Step 3. Assign it to a variable titanic

In [ ]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv'

titanic = pd.read_csv(url)

titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

### Step 4. Set PassengerId as the index

#### Step 5. Create a pie chart presenting the male/female proportion

###
### Step 5. צרו גרף פאי שמציג את החלוקה בין גברים לנשים

#### Step 6. Create a scatterplot with the Fare payed and the Age, differ the plot color by gender

###
### Step 6. צרו גרף פיזור שמציג את הקורלציה בין דמי הנסיעה לגיל,
### צבעו את הנקודות בגרף בחלוקה למין.

### Step 7. How many people survived?

#### Step 8. Create a histogram with the Fare payed

###
### Step 8. צרו היסטוגרמה שתציג את כמות הפעמים שכל סכום של דמי נסיעה שולם

### BONUS: Create your own question and answer it.